.main {
    padding: 20px 0;
    text-align: center;
}
.main p {
    margin: 0px 50px;
    padding: 20%;
}
.main h1 {
    color: #333;
}
.main h2 {
    color: #333;    
}
p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

h2 {
    margin: 0px;
    padding: 0px;
}