.navtoggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navtoggle:focus {
    outline: none;
    box-shadow: none;
}

.navitems {
    width: 50px;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.01s; 
    padding-top: 60px;
}

.navitems.open {
    width: 200px;
    background-color: rgb(3, 90, 128);
}
.navitems.closed {
    width: 60px;
    background-color: rgb(3, 90, 128);
}

.navitems ul {
    list-style-type: none;
    padding: 0;
}

.navitems ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.navitems ul li a:hover {
    color: yellow;
}